@import "../../../../../styles.scss";

.staff-card {
  border-radius: 20px;
  border: 2px solid $secondary-color;
  width: 20rem;
  height: 7.5rem;
  display: flex;
  padding: 2rem;
  .photo-container {
    display: flex;
    align-items: center;
    .staff-photo {
      display: flex;
      width: auto;
      max-width: 11rem;
      border-radius: 10px;
      background-color: whitesmoke;
      height: auto;
      max-height: 6rem;
    }
  }
  .staff-info {
    font-family: $font-family-primary;
    color: $secondary-color;
    .staff-number-title {
      font-weight: bold;
      text-align: center;
    }
  }
}
.staff-card:hover {
  border: 2px dotted $secondary-color;
}
